.app-media {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 940px;
}

.game-path-text, .game-path-text a {
    font-size: 12px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
}

.game-path-text {
    color: #56707f;
    padding-bottom: 3px;
}

.game-path-text a {
    color: #8f98a0;
}

.game-path-text a:hover {
    color: white;
}

.game-title h1 {
    color: white;
    font-size: 26px;
    margin-bottom: 14px;
}

.app-media-content {
    position: relative;
    width: 100%;
}

.game-media {
    display: flex;
    height: 445px;
    padding-bottom: 15px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%);
}

.game-shadow {
    position: absolute;
    width: 100%;
    bottom: 46px;
    height: 335px;
    background: url(../../assets/game_page_background_shadow.png);
    background-position: bottom;
    padding-bottom: 1px;
    background-repeat: no-repeat;
    z-index: -1;
}

.game-medias {
    margin-right: 15px;
}

.game-top-media {
    width: 600px;
    height: 335px;
    background: black;
    overflow: hidden;
    margin-bottom: 5px;
}

.game-bot-media {
    display: flex;
    flex-wrap: nowrap; /* Öğeler sıkışmasın */
    overflow-x: auto; /* Yatay scroll çıksın */
    width: 600px;
}

.game-bot-media img {
    min-width: 115px;
    margin: 0 5px 5px 0;
}



.game-media-description {
    width: 325px;
    height: 100%;
    overflow: hidden;
}

.game-media-description img {
    margin-bottom: 8px;
}

.game-media-description p {
    max-height: 111px;
    padding-right: 16px;
    color: #c6d4df;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}


.game-tag-div {
    display: flex;
}

.game-sign-up {
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
    color: #c6d4df;

    font-size: 12px;
    font-weight: 300;
}

.game-sign-up a {
    color: white;
}