html, body {
    scroll-behavior: smooth;
}

.main-content {
    width: 940px;
    padding: 20px 0;
}

.top-container {
    display: flex;
    margin-bottom: 40px;
}

.top-header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.top-header-container div {
    padding: 0 15px;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    cursor: pointer;
}

.top-header-container div:hover {
    border: 1px solid white;
}

.top-header-container>h2,
.top-header-container div {
    margin: 0;
    text-transform: uppercase;
    align-content: center;
    color: white;
}

.header-box {
    width: 306px;
    height: 385px;
    margin-right: 11px;
    cursor: pointer;
}

.header-box img {
    object-fit: cover;
}

.header-info {
    height: 105px;
    padding: 8px 16px 12px 16px;
    background: url(../../assets/background_spotlight.jpg) bottom center no-repeat;
}

.normal-box {
    width: 306px;
    margin-bottom: 11px;
    cursor: pointer;
}

.normal-last {
    margin-bottom: 0 !important;
}

.normal-info {
    display: flex;
    justify-content: space-between;
    height: 44px;
    background: linear-gradient(to bottom, #ffffff 5%, #abdaf4 95%);
}

.normal-info h2 {
    padding: 5px;
    color: #283846;
}

.discount-header-container {
    display: flex;
    margin: 10px 0;
}

.discount-container {
    display: flex;
    padding: 5px;
}

.discount-percentage {
    align-content: center;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 500;
    color: #BEEE11;
    background: #4c6b22;
    padding: 0 5px;
    line-height: 34px;
    font-size: 26px;
}

.discount-header-price {
    align-content: center;
    padding: 0 8px;
    font-family: Arial, Helvetica, sans-serif;
    background: #344654;
}

.discount-price {
    align-content: center;
    padding: 0 8px;
    background-color: rgba(20, 31, 44, 0.8);
    font-family: Arial, Helvetica, sans-serif;
}

.discount-original {
    text-align: right;
    color: #738895;
    font-size: 11px;
    line-height: 12px;
    text-decoration: line-through;
}

.discount-now {
    color: #BEEE11;
    line-height: 16px;
    font-size: 15px;
}


.category-container {
    margin: 40px 0 80px;
}

.categorys {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.border {
    height: 225px;
    width: 225px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.border img {
    object-fit: cover;
}

.border-text {
    position: absolute;
    top: 0;
}

.border div {
    position: absolute;
    height: 225px;
    width: 225px;
    background: radial-gradient(115% 120% at 0% 0%, transparent, #2880a6);
    transition: all 0.2s ease;
    border-radius: 10px;
}

.border:hover .border-text span {
    animation: moveDown 0.3s ease forwards;
    /* 0.5 saniyelik animasyon */
}

.border:not(:hover) .border-text span {
    animation: moveUp 0.3s ease forwards;
}

.border:hover img {
    animation: scaleUp 0.3s ease forwards;
    /* 0.5 saniyelik animasyon */
}

.border:not(:hover) img {
    animation: scaleDown 0.3s ease forwards;
}

.border span {
    position: absolute;

    transform: translate(-50%, -50%);
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    letter-spacing: 0.1ch;
    color: #2881a7;
    text-transform: uppercase;
    background: #ffffff;
    padding: 6px 12px;
    border-radius: 4px;

    left: 112.5px;
    bottom: 50px;
}

.line-container {
    margin: 80px 0 40px 0;
}

.line-container-bot {
    margin: 40px 0 80px 0;
}

.game-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.game-header h2 {
    margin: 0;
}

.game-header img {
    margin-right: 6px;
}

.game-container {
    display: flex;
    cursor: pointer;
}

.game {
    box-shadow: 0 0 5px #000;
    width: 229px;
    background: radial-gradient(62.67% 62.67% at 62.67% 100%, rgba(255, 255, 255, 0.15) 0%, rgba(116, 133, 140, 0.15) 100%);
}

.game img {
    display: block;
    margin: 0;
}

.game div {
    margin: 3px 5px 5px 5px;
}

.game span {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 12px;
    background-color: rgba(20, 31, 44, 0.4);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.game:not(:last-child) {
    margin-right: 8px;
}

.video-container:hover {
    box-shadow: 0 0 12px #66c0f4;
}

.video-container video {
    display: flex;
    cursor: pointer;
}

.redirect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 80px 0;
}

.porti-text {
    color: #8f98a0;
    font-family: "Motiva Sans", Sans-serif;
    font-size: 15px;
}

.redirect-container button {
    margin: 15px;
    line-height: 30px;
    padding: 0 30px;
    border: 0;
    border-radius: 3px;
    color: #D2E885;
    background: linear-gradient(to bottom, #799905 5%, #536904 95%);
    cursor: pointer;
    transition: all 0.3s ease;
}

.redirect-container button:hover {
    color: #fff;
    background: linear-gradient(to bottom, #b6d908 5%, #80a006 95%);
}

.recommed-container {
    margin: 80px 0 40px;
}

.recommeds {
    display: flex;
    justify-content: space-between;
}

.recommeds div {
    width: 225px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 3px;
    box-shadow: 0 0 4px #000;
    cursor: pointer;
}

.recommeds div:hover {
    background: linear-gradient(90deg, #06BFFF 30%, #2D73FF 100%);
}

.recommeds a {
    font-family: "Motiva Sans", Sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.03em;
}




@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes moveUp {
    from {
        transform: translate(-50%, -50%) translateY(40px);
    }

    to {
        transform: translate(-50%, -50%) translateY(0);
    }
}

@keyframes moveDown {
    from {
        transform: translate(-50%, -50%) translateY(0);
    }

    to {
        transform: translate(-50%, -50%) translateY(40px);
    }
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes scaleDown {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}