.banner {
    background: #171d25;
    width: 100%;
    min-width: 940px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 104px;
    margin: 0 auto;
}

.nav {
    display: flex;
}

.logo {
    padding-top: 30px;
    margin-right: 40px;
}

.menu-item {
    position: relative;
    padding: 45px 7px 7px 7px;
    line-height: 16px;

    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.menu-item a:not(.selected-menu):hover {
    /* Sadece .selected olmayan a öğelerine hover stili uygula */
    color: white;
}

.selected-menu {
    color: #1a9fff;
}

.selected-menu::after {
    content: "";
    display: block;
    width: 100%;
    height: 2.5px;
    background: #1a9fff;
    border-radius: 3px;
    animation: slide 0.1s;
    margin-top: 2px;
}

.popup-menu {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    color: #fff;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 70px;
    z-index: 9;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
    background: #3D4450;
    box-shadow: 3px 3px 5px -3px #000;
    text-transform: none;
    user-select: none;
    cursor: pointer;
}

.popup-header-menu {
    flex-direction: row;
}

.popup-alt-header-menu {
    display: flex;
    flex-direction: column;
}

.popup-header-item {
    padding: 6px 15px;
    color: #2EBFFF;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);

    font-size: 13px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    cursor: default;
}

.popup-item {
    padding: 8px 15px;
    color: #dcdedf;

    font-size: 13px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}

.popup-item:hover {
    background: #dcdedf;
    color: #171a21;
}

/* Tooltip hover'da fade-in ile görünür */
.menu-item:hover .popup-menu {
    opacity: 1;
    visibility: visible;
}

.popup-line {
    height: 1px;
    background: linear-gradient(90deg, rgba(216, 216, 216, 0.3), transparent);
    margin: 10px;
    width: 50%;
    cursor: default;
}

.popup-side-line {
    width: 1px;
    flex-grow: 1;
    background: linear-gradient(90deg, rgba(216, 216, 216, 0.3), transparent);
    margin: 20px;
    cursor: default;
}










.action-menu {
    margin: 10px;
    display: flex;
}

.action-menu p {
    margin: 5px 0 0 15px;
    word-spacing: 5px;
    transition: all 0.2s ease;
}

.action-menu a:hover {
    color: white;
    cursor: pointer;
}

.install-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    padding: 0 10px;
    color: white;
    background-color: #5c7e10;
    text-indent: 3px;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.install-button:hover {
    color: #fff !important;
    background-color: #6c9018;
}